
<h1>Thank You for Your Purchase!</h1>

<p>Your payment was successful.</p>

<!-- Link to purchase history -->
<div>
    <a asp-action="PurchaseHistory" class="btn btn-primary">View Purchase History</a>

</div>
